<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAP9Gz0e_sTdqWsjHRp7X4QHDDNhcn3qfk</string>
	<key>GCM_SENDER_ID</key>
	<string>891631910173</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.mobdevFinal</string>
	<key>PROJECT_ID</key>
	<string>mobdev-finals-1d81a</string>
	<key>STORAGE_BUCKET</key>
	<string>mobdev-finals-1d81a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:891631910173:ios:b9cf3b5b4dc3483bd0b5f4</string>
</dict>
</plist>